<?xml version="1.0"?>
<robot name="riptide2017">
  <link name="base_link">
    <visual>
      <geometry>
        <box size="1.016 0.9144 0.6096"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.3048"/>
      <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <visual>
      <geometry>
        <cylinder length="0.0381" radius="0.1524"/>
      </geometry>
      <origin rpy="0 -1.57 1.57" xyz="0.508 -0.3048 0"/>
      <material name="green">
        <color rgba="0 1 0 1"/>
      </material>
    </visual>
    <visual>
      <geometry>
        <cylinder length="0.0381" radius="0.1524"/>
      </geometry>
      <origin rpy="0 -1.57 1.57" xyz="-0.508 -0.3048 0"/>
      <material name="red">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
    <visual>
      <geometry>
        <cylinder length="0.0381" radius="0.1524"/>
      </geometry>
      <origin rpy="0 -1.57 1.57" xyz="0.508 0.3048 0"/>
      <material name="green">
      </material>
    </visual>
    <visual>
      <geometry>
        <cylinder length="0.0381" radius="0.1524"/>
      </geometry>
      <origin rpy="0 -1.57 1.57" xyz="-0.508 0.3048 0"/>
      <material name="green">
      </material>
    </visual>
  </link>
</robot>
