<launch>
  <node pkg="usb_cam" type="usb_cam_node" name="usb_cam" respawn="true" respawn_delay="5" >
   <param name="camera_name" value="cam_front" />
   <param name="camera_frame_id" value="cam_front" />
   <param name="autofocus" value="false" />
   <param name="video_device" value="/dev/video0" />
   <param name="brightness" value="10" />
   <param name="camera_info_url" value="file://$(find riptide2017)/launch/camera.yaml" />
   <param name="pixel_format" value="yuyv" />
 </node>
</launch>
