<launch>
 <node pkg="tf" type="static_transform_publisher" name="map_odom_tf" args="0 0 0 0 0 0 /map /odom 10" />
 <node pkg="tf" type="static_transform_publisher" name="odom_tf" args="0 0 0 0 0 0 /odom /base_link 10" />
<node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen">
<rosparam>
local_costmap:
  footprint: [ [-2.0,-2.0], [-2.0,2.0], [2.0,-2.0], [2.0,2.0]]
  robot_radius: 0.5
  obstacle_layer:
    enabled: false
  inflation_layer:
    enabled: false
  width: 50
  height: 50
  origin_x: -25.0
  origin_y: -25.0
global_costmap:
  origin_x: -25.0
  origin_y: -25.0
  footprint: [ [-2.0,-2.0], [-2.0,2.0], [2.0,-2.0], [2.0,2.0]]
  robot_radius: 0.5
  obstacle_layer:
   enabled: false
  inflation_layer:
   enabled: false
  height: 50
  width: 50
TrajectoryPlannerROS:
  meter_scoring: True
  holonomic_robot: False
  max_vel_x: 5.5
  max_vel_thata: 3.0
</rosparam>

</node>

</launch>
